<footer>
    <img src="./assets/images/logo.png" alt="Logo de la web" width="100" height="75">
    <div class="footer-tabs d-none d-lg-block">
        <a href="./index.html">Inicio</a>
        <a href="./liga-tenis.html">Liga</a>
        <a href="./articulo-blog.html">Acerca de</a>
        <a href="./fotos.html">Fotos</a>
    </div>
    <ul class="social">
        <li><a href="https://facebook.com"><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href="https://google.com"><i class="fa-brands fa-google"></i></a></li>
        <li><a href="https://twitter.com"><i class="fa-brands fa-twitter"></i></a></li>
    </ul>
</footer>