<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="logo">
            <a class="navbar-brand" href="./index.html">
                <img src="./assets/images/logo.png" alt="Logo de Golpe maestro, es la silueta de una pelota de tenis"
                    width="100" height="75">
            </a>
        </div>

        <div class="d-lg-none navbar" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
                <li class="dropdown-center">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Menú
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="./liga-tenis.html">Liga</a></li>
                        <li><a class="dropdown-item" href="./articulo-blog.html">Acerca de</a></li>
                        <li><a class="dropdown-item" href="./fotos.html">Fotos</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="justify-content-end collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="./liga-tenis.html">Liga</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./articulo-blog.html">Acerca de</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./fotos.html">Fotos</a>
                </li>
            </ul>
        </div>
    </nav>

</header>